*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../imagen/ima3.jpg);
}

#cuadro{
    width: 330px;
    background: #090909;
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
    padding: 5px 5px 30px 5px;
    border-top: 30px solid #141414;
    border-left: 30px solid #141414;
    border-right: 30px solid #141414;
    border-radius: 6px;
    opacity: 0.8;
}

#cuadro2{
    width: 650px;
    background: #090909;
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
    padding: 5px 5px 30px 5px;
    border-top: 30px solid #141414;
    border-left: 30px solid #141414;
    border-right: 30px solid #141414;
    border-radius: 6px;
    opacity: 0.8;
}

.entrada{
    width: 320px;
    height: 35px;
    border-radius: 6px;
    font-family: verdana;
    font-weight: 900;
}
#boton{
    width: 320px;
    height: 40px;
    border-radius: 6px;
    background: grey;
    color: #ffffff;
    font-size: 20px;
}
#titulo{
    font-size: 30px;
    font-family: fantasy;
    padding-left: 80px;
}
#subtitulo1{
    padding-left: 30px;
    font-family: calibri;
}
#subtitulo2{
    padding-left: 30px;
    font-family: calibri;
}
#subtitulo3{
    padding-left: 30px;
    font-family: calibri;
}

